<h1>Welcome to Bunk!</h1>
{% if just_bunked%}
  <p style="font-style: italic; color: blue">Successfully bunked!</p>
{% endif %}

{% block content %}
  {% if user.is_authenticated %}
    Hi <a href="/profile/{{user.id}}">{{ user.first_name }}</a>!
    {% if latest_bunks %}
    <ul>

      {% for bunk in latest_bunks %}
        <li>BUNK! From
          <a href="/profile/{{bunk.from_user.id}}">{{bunk.from_user.first_name}}</a>
           to <a href="/profile/{{bunk.to_user.id}}">{{bunk.to_user.first_name}}</a>
          </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No Bunks yet!</p>
  {% endif %}
  <p><a href="{% url 'logout' %}">Logout</a></p>


  {% else %}
    <p>You are not logged in!</p>
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}
