<!--
    context = {
        'user' : user,
        'recent_bunks' : recent_bunks,
        'bunk_score' : bunk_score,
        'total_bunks' : positive_bunk_score
    }
-->
{% if user %}
  <h1>{{user}}</h1>
  <form action="/bunk" method="post">
    {% csrf_token %}
    <input type="submit" value="Bunk!">
    <input type="hidden" name="to_user" value={{user.id}} />
    <!--  FIXME: All from bunkees are now from 13-->
    <input type="hidden" name="from_user" value={{13}} />
  </form>
  <!-- TODO: BEGIN
    Functionality to bunk people here (button/input here)
       TODO: END  -->

  {% if bunk_score %}
    {% if bunk_score > 0 %}
      <h2 style="color:green;">Bunk Score: {{bunk_score}}</h2>
    {% else %}
      <h2 style="color:red;">Bunk Score: {{bunk_score}}</h2>
    {% endif %}
  <!-- if the bunk_score is 0, then if bunk_score returns false -->
  {% else %}
    <h2 style="color:black;">Bunk Score: {{bunk_score}}</h2>
  {% endif %}
  <h2>Total Bunks: {{total_bunks}}</h2>
  <h2>Recent Bunks</h2>
  {% if recent_bunks %}
    <ul>
      {% for bunk in recent_bunks %}
        {% if bunk.from_user == user %}
        <li style="color:green;">BUNK! From {{bunk.from_user}} to {{bunk.to_user}}</li>
        {% else %}
        <li style="color:red;">BUNK! From {{bunk.from_user}} to {{bunk.to_user}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>{{user}} doesn't have any bunks yet!</p>
  {% endif %}
{% else %}
  <p>This person doesn't exist!</p>
{%endif%}
