<!--
    context = {
        'profile_user' : user,
        'recent_bunks' : recent_bunks,
        'bunk_score' : bunk_score,
        'total_bunks' : positive_bunk_score
    }
-->
{% if user.is_authenticated %}
  <h1>{{profile_user.first_name}} {{profile_user.last_name}}</h1>
  <form action="/bunk" method="post">
    {% csrf_token %}
    <input type="submit" value="Bunk!">
    <input type="hidden" name="to_user" value={{profile_user.id}} />
    <input type="hidden" name="from_user" value={{user.id}} />
  </form>

  {% if bunk_score %}
    {% if bunk_score > 0 %}
      <h2 style="color:green;">Bunk Score: {{bunk_score}}</h2>
    {% else %}
      <h2 style="color:red;">Bunk Score: {{bunk_score}}</h2>
    {% endif %}
  <!-- if the bunk_score is 0, then if bunk_score returns false -->
  {% else %}
    <h2 style="color:black;">Bunk Score: {{bunk_score}}</h2>
  {% endif %}
  <h2>Total Bunks: {{total_bunks}}</h2>
  <h2>Recent Bunks</h2>
  {% if recent_bunks %}
    <ul>
      {% for bunk in recent_bunks %}
        {% if bunk.from_user == profile_user %}
        <li style="color:green;">BUNK! From
          <a href="/profile/{{bunk.from_user.id}}">{{bunk.from_user.first_name}}</a>
          to <a href="/profile/{{bunk.to_user.id}}">{{bunk.to_user.first_name}}</a></li>
        {% else %}
        <li style="color:red;">BUNK! From
          <a href="{% url 'profile' bunk.from_user.id %}">{{bunk.from_user.first_name}}</a>
          to <a href="/profile/{{bunk.to_user.id}}">{{bunk.to_user.first_name}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>{{profile_user.first_name}} doesn't have any bunks yet!</p>
  {% endif %}
{% else %}
  <p>This person doesn't exist!</p>
{%endif%}
